<?xml version="1.0"?>
<FileSystemProviders>

  <!-- Media -->
  <Provider alias="media" type="Our.Umbraco.FileSystemProviders.Azure.AzureBlobFileSystem, Our.Umbraco.FileSystemProviders.Azure">
    <Parameters>
      <add key="containerName" value="media"/>
      <add key="rootUrl" value="http://existing123456789.blob.core.windows.net/"/>
      <add key="connectionString"
  			value="DefaultEndpointsProtocol=https;AccountName=existing123456789;AccountKey=existingKey"/>
      <!--
        Optional configuration value determining the maximum number of days to cache items in the browser.
        Defaults to 365 days.
      -->
      <add key="maxDays" value="365"/>
      <!--
        When true this allows the VirtualPathProvider to use the deafult "media" route prefix regardless 
        of the container name.
      -->
      <add key="useDefaultRoute" value="true"/>
    </Parameters>
  </Provider>

</FileSystemProviders>
