<div ng-controller="FileSystemProviders.Loader">
    <div class="row">
        <div class="span1">
            <img src="/App_Plugins/UmbracoFileSystemProviders/Azure/Install/azure-logo-32.png" />
        </div>
        <div><h4>Umbraco Azure File System Provider</h4></div>
    </div>
    <div class="row">
        <div><hr /></div>
    </div>
    <div class="row" ng-show="!saved">
        <div>
            <fieldset>
                <legend><h4>To complete installation, please enter the required parameters for the Azure storage provider below</h4></legend>
                <ng-form name="paramForm" class="form-horizontal" role="form">
                    <div ng-repeat="param in parameters" class="control-group">
                        <label class="control-label" for="{{param.key}}" style="width:160px">{{ capitalizeFirstLetter(param.key) }}</label>
                        <div class="controls">
                            <span ng-if="getInputType(param.key) === 'checkbox'">
                                <input class="input-block-level"
                                       style="width:600px"
                                       name="{{param.key}}"
                                       type="checkbox"
                                       ng-model="param.value"
                                       ng-true-value="'true'"
                                       ng-false-value="'false'"
                                       no-dirty-check
                                       ng-init="param.value">
                            </span>
                            <span ng-if="getInputType(param.key) === 'text'">
                                <input class="input-block-level"
                                       style="width:600px"
                                       name="{{param.key}}"
                                       type="text"
                                       ng-model="param.value"
                                       no-dirty-check
                                       required>
                            </span>
                        </div>
                        <span data-ng-show="{{'paramForm.' + param.key + '.$dirty && paramForm.' + param.key + '.$error.required'}}">Required!</span>

                    </div>
                    <button preventDefault class="btn btn-primary" ng-click="paramForm.$valid && submitForm($event)">Save</button>
                </ng-form>
            </fieldset>
        </div>
    </div>
    <div class="row" ng-show="!saved">
        <div><hr /></div>
    </div>

    <div class="row">
        <div>
            <div class="alert alert-success" ng-show="saved && (status === 'Ok')">
                The Azure storage provider was successfully configured and your media is now as light as candyfloss
            </div>
            <div class="alert alert-error" ng-show="!saved && status === 'ConnectionError'">
                <strong>Oh no</strong>, there was something wrong with your Azure connection string, please check and try again, more info in the Umbraco logs
            </div>
        </div>
    </div>

</div>